<div class="container mt-5 mb-5">
  <h1>Appointments</h1>
  <%  @appointments.each do |appointment| %>
    <div class="row">
      <div class="card mt-5 col-sm" style="width: 18rem;">
        <div class="card-body">
          <% if current_doctor %>
            <h5 class="card-title"><strong>Patient:</strong> <%= appointment.user.first_name %> <%=appointment.user.last_name %></h5>
          <% else %>
            <h5 class="card-title"><strong>Doctor:</strong> <%= appointment.doctor.first_name %> <%=appointment.doctor.last_name %></h5>
          <% end %>
          <hr>
          <ul class="list-unstyled">
            <li><strong>Description:</strong> <%= appointment.description %></li>
            <li><strong>Date:</strong> <%= appointment.date %></li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>
